<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeepLinkDemo"
        tools:targetApi="31">
        <activity
            android:name=".Screen_Three"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.deeplinkdemo.com/third_screen” -->
                <data android:scheme="https"
                    android:host="www.deeplinkdemo.com"
                    android:path="/third_screen" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Screen_Two"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.deeplinkdemo.com/second_screen” -->
                <data android:scheme="https"
                    android:host="www.deeplinkdemo.com"
                    android:path="/second_screen" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.deeplinkdemo.com” -->
                <data android:scheme="https"
                    android:host="www.deeplinkdemo.com"
                    android:path="/first_screen" />
            </intent-filter>
        </activity>
    </application>

</manifest>